.progress-bar {
    position: relative;
    height: 20px;
    width: var(--maxWidthContainer);
    border-radius: 50px;
    border: 1px solid var(--primaryColor);
}

.filler {
    background: var(--primaryColor);
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}