.question-title{
    font-family: var(--subTitleFont);
    color: var(--lightGrey);
    text-align: center;
    font-size: 1.4rem;
}
.box-container {
    display: flex;
    justify-content: center;

}

.box-active {
    background: var(--primaryColor);
    height: 10px;
    width: 100px;
    margin: 0 auto;
    margin: 1px;
}

.box {
    background: var(--white);
    border: 1px solid var(--primaryColor);
    height: 10px;
    width: 100px;
    margin: 0 auto;
    margin: 1px;
}