
/* Sweep To Left Hover Effect */
.btn-answer {
    background: linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(234,234,234,1) 50%, rgba(210,210,210,1) 100%);
    width: 100%;
    height: 50px;
    font-family: var(--primaryFontBold);
    font-size: 1.4rem;
    padding-left: 12px;
    display: flex;
    border-color: var(--white);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    margin: 0 0 20px 0;
  }

  .btn-answer.correct{
    background: var(--secondaryColor);
  }
  .btn-answer.correct:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--secondaryColor);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
 
  .btn-answer:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primaryColor);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .btn-answer:hover, .btn-answer:focus, .btn-answer:active {
    color: var(--white);
  }

  .btn-answer:hover:before, .btn-answer:focus:before, .btn-answer:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  } 



  

button:focus {outline:0;}


.answer-id {
    background-color: black;
    color: white;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    margin-right: 14px;
    font-family: var(--subTitleFontBold);
}

.answer-id:hover {
    background-color: var(--secondaryColor);
}